/*
 * GitHub Light theme for Prism.js
 * Author: Guo Yunhe
 * It is a clone of https://github.com/primer/github-syntax-light/blob/master/lib/github-light.css
 */

code[class*='language-'],
pre[class*='language-'] {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  overflow: auto;
  font-size: 0.85em;
  line-height: 1.45;
  padding: 16px;
  color: #24292f;
  background-color: #f6f8fa;
  border-radius: 6px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* comment */
.token.comment {
  color: #6e7781;
}

/* keyword */
.token.keyword,
.token.atrule.rule {
  color: #cf222e;
}

/* entity */
.token.function {
  color: #8250df;
}

/* entity-tag */
.language-json .token.property,
.token.tag:not(.punctuation):not(.attr-name):not(.attr-value):not(.script),
.token.selector {
  color: #116329;
}

/* string */
.token.string,
.token.template-string,
.token.attr-value,
.token.hexcode.color {
  color: #0a3069;
}

/* constant */
.token.number,
.token.boolean,
.token.keyword.nil,
.token.keyword.null,
.token.doctype,
.token.attr-name,
.token.selector.class,
.token.selector.pseudo-class,
.token.selector.combinator,
.token.property,
.token.property,
.token.atrule.keyword,
.token.operator,
.token.property-access {
  color: #0550ae;
}

/* variable */
.token.class-name,
.token.maybe-class-name {
  color: #953800;
}
